@import url('https://rsms.me/inter/inter-ui.css');
html { font-family: 'Inter UI', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter UI var alt', sans-serif; }
}
@font-face {
  font-family: Liquido Fluid;
  src: url('../fonts/LIQUIDO-Fluid.otf');
}
body,html{
    width: 100%;
    background: url('../img/bg.jpeg') center right;
    background-size: cover;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
body::after{
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #ff6f61;
    opacity: 0.95;
    position: absolute;
}
*{
    box-sizing: border-box;
}
main{
    width: 30vw;
    height: 30vw;
    border-radius: 49% 51% 49% 51% / 26% 27% 73% 74%;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-animation-name: burble;
    -webkit-animation-duration: 4s;
    animation-name: burble;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    z-index: 1;
    border: 10px solid;
}
main h1{
    font-size: 130px;
    letter-spacing: 0;
    margin: 0;
    line-height: 0.7;
    font-family: Liquido Fluid;
}
.logo{
    position: fixed;
    bottom: 40px;
    font-size: 14px;
    right: 40px;
    color: #fff;
    z-index: 1;
    font-weight: 300;
    writing-mode: vertical-rl;
    text-align: right;
    letter-spacing: 10px;
    line-height: 1.5;
    text-transform: uppercase;
}
h2{
    font-size: 50px;
    margin: 0;
    color: transparent;
    line-height: 1;
    letter-spacing: 5px;
    font-family: Liquido Reguar;
    -webkit-text-stroke: 2px #fff;
}
.github .icon{
    color: #fff;
    font-size: 2rem;
}
.github{
    position: fixed;
    top: 30px;
    right: 40px;
    z-index: 11;
}
footer{
    position: fixed;
    z-index: 1;
    color: #ddd;
    font-size: 11.5px;
    left: 30px;
    bottom: 20px;
}
footer a{
    text-decoration: none;
    color: #ddd;
}

@-webkit-keyframes burble {
    0%   {border-radius: 49% 51% 49% 51% / 26% 27% 73% 74%;}
    25%  {border-radius: 49% 51% 73% 27% / 26% 69% 31% 74% ;}
    50%  {border-radius: 76% 24% 66% 34% / 60% 71% 29% 40%;}
    75%  {border-radius:30% 70% 70% 30% / 30% 30% 70% 70% ; }
    100% {border-radius: 49% 51% 49% 51% / 26% 27% 73% 74%;}
}

/* Standard syntax */
@keyframes burble {
    0%   {border-radius: 49% 51% 49% 51% / 26% 27% 73% 74%;}
    25%  {border-radius: 49% 51% 73% 27% / 26% 69% 31% 74% ;}
    50%  {border-radius: 76% 24% 66% 34% / 60% 71% 29% 40%;}
    75%  {border-radius:30% 70% 70% 30% / 30% 30% 70% 70% ; }
    100% {border-radius: 49% 51% 49% 51% / 26% 27% 73% 74%;}
}



@media(max-width: 1000px){
    main{
        width: 90vw;
        height: 40vh;
    }
    main h1{
        font-size: 90px;
    }
    .logo{
        bottom: 10px;
        right: 10px;
        letter-spacing: 3px;
    }
}
